@{
    ViewData["Title"] = "HallOfFame";
}

<h1>User Hall Of Fame</h1>
<hr />

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Number of Reports</th>
    </tr>
  </thead>
  <tbody>
        @foreach (var SortedList in Model)
        {
            <tr>
              <th scope="row">1</th>
              <td>@SortedList.FirstName</td>
              <td>@SortedList.LastName</td>
              <td>@SortedList.Email</td>
              <td>@SortedList.NumberOfReports</td>
            </tr>
        }
  </tbody>
</table>