@{
    ViewData["Title"] = "Home Page";
}

<h4>Reports</h4>
    <hr/>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>ReportID</th>
            <th>ReportTitle</th>
            <th>City</th>
            <th>Country</th>
        </tr>
        @foreach (ReportClass report in Model)
        {
            <tr>
                <td>@report.ReportID</td>
                <td>@report.ReportTitle</td>
            </tr>
        }
    </table>
