
@model NEMESYS.Models.ReportClass

@{
    ViewData["Title"] = "EditReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Report</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditReport">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReportTitle" class="control-label">Report Title</label>
                <input asp-for="ReportTitle" class="form-control" />
                <span asp-validation-for="ReportTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HazardLocation" class="control-label">Location of Hazard</label>
                <input asp-for="HazardLocation" class="form-control" />
                <span asp-validation-for="HazardLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HazardType" class="control-label">Type of Hazard</label>
                <select name="HazardType" class="form-control" asp-items="@ViewBag.typesOfHazards" asp-for="HazardType"></select>
                <span asp-validation-for="HazardType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HazardPhoto" type="file"class="control-label">Picture of Hazard</label>
                <input asp-for="HazardPhoto" type="file" class="form-control" />
                <span asp-validation-for="HazardPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HazardDate" class="control-label">Date and Time of Hazard</label>
                <input asp-for="HazardDate" type="datetime-local" class="form-control" />
                <span asp-validation-for="HazardDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HazardDescription" class="control-label">Description of Hazard</label>
                <input asp-for="HazardDescription" class="form-control" />
                <span asp-validation-for="HazardDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <p>
        @ViewBag.messageReportEditted
    </p>
</div>

<div>
    <a asp-action="Index">Back to Home</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
